# Ignore all .log files
*.log

# Ignore the 'workspace' directory
workspace/
# tests/

# Ignore a specific file
docker.zip

# Ignore all files in the 'temp' directory
# tests/*

# Re-include a specific file within an ignored directory
# !temp/important.txt